
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 187.4rem;
}.portfolio--qxm {
  display: flex;
  flex-direction: column;
  background-color: #2e2e3d;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-vplm-9yT {
    box-sizing: border-box;
    padding: 2.5rem 12rem 0rem 6.9rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-jydx-fB7 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.7rem 2.2rem 0rem;
      width: calc(100% - 3.7rem);
      height: 7.4rem;

      .auto-group-nkyo-mjw {
        box-sizing: border-box;
        padding: 0.1rem 51.9rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .orido-Tsf {
          flex-shrink: 0;
          margin: 0rem 30.5rem 3.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-case-studies-blog-contact-9kV {
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          align-items: baseline;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          margin-bottom: 0.1rem;
          font-size: 2rem;
          font-weight: 700;

          .home-case-studies-blog-contact-9kV-sub-0 {
            line-height: 1.2125;
            text-decoration-line: underline;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
          }
          .home-case-studies-blog-contact-9kV-sub-1 {
          }
        }
      }
      .auto-group-tqm3-URP {
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        width: 21rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ffffff;
        line-height: 1.2125;
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-wtdk-9XX {
      margin-left: 150.6rem;
      width: calc(100% - 150.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .star-4-VLV {
        height: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.1rem 4.5rem 0rem;
        width: 7.4rem;
      }
      .star-3-BDK {
        margin-top: 4.5rem;
        width: 7.4rem;
        height: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-8m6r-ttR {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 8.5rem 0rem 5.5rem;
      width: calc(100% - 14rem);
      height: 71rem;
      display: flex;

      .auto-group-6a7j-1y3 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 10.9rem 0.3rem 0rem;

        .auto-group-jyad-xNV {
          margin-bottom: 4.3rem;
          width: 74.1rem;
          flex-shrink: 0;

          .tomas-n-uahengo-gJV {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.5rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .auto-group-edbf-T6H {
            margin: 0rem 37.4rem 4.9rem 1.2rem;
            width: calc(100% - 38.6rem);
            display: flex;
            align-items: center;

            .line-9-mcm {
              width: 17.1rem;
              height: 0.1rem;
              background-color: #ffffff;
              flex-shrink: 0;
              margin: 0.5rem 7.7rem 0rem 0rem;
            }
            .designer-Hr1 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .i-am-an-upcoming-software-develop-based-in-namibia-i-am-a-hard-work-and-passionate-always-dedicated-to-my-work-and-eager-to-learn-cdP {
            max-width: 72.7rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 10.1rem 1.4rem;
          }
          .auto-group-dmhs-T8D {
            margin: 0rem 1.8rem 5.6rem 18.3rem;
            width: calc(100% - 20.1rem);
            height: 11.2rem;
            display: flex;
            align-items: flex-end;

            .auto-group-rwvm-MUV {
              margin-right: 10.3rem;
              width: 32.9rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-13-hYM {
                height: 10rem;
                position: absolute;
                left: 0;
                top: 1.2rem;
                background-color: #8351d5;
                border-radius: 2.5rem;
                width: 32.9rem;
              }
              .say-hello-b7w {
                height: 10.9rem;
                position: absolute;
                line-height: 1.69;
                white-space: nowrap;
                width: 23.4rem;
                top: 0;
                font-size: 6.4rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Jaldi, 'Source Sans Pro';
                left: 2.7rem;
              }
            }
            .my-work-GE5 {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.69;
              color: #ffffff;
              font-family: Jaldi, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.9rem;
            }
          }
          .auto-group-atah-zfs {
            margin: 0rem 7.3rem 0rem 14.1rem;
            width: calc(100% - 21.4rem);
            height: 12.2rem;
            display: flex;
            align-items: center;

            .follow-me-on--JgZ {
              margin: 0.9rem 3.1rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-6-1L5 {
              display: flex;
              column-gap: 0.8rem;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              position: relative;

              .image-1-KrZ {
                height: 11.5rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 100rem;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                width: 10.5rem;
              }
              .image-2-SwB {
                margin-top: 0.9rem;
                width: 11.3rem;
                height: 11.3rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 18.75rem;
                flex-shrink: 0;
              }
              .image-3-kgy {
                margin-bottom: 0.6rem;
                width: 12.8rem;
                height: 9.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 29.05rem;
                flex-shrink: 0;
              }
            }
          }
        }
        .arrow-12-2eV {
          flex-shrink: 0;
          margin-top: 17.1rem;
          width: 3.4rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-x2xk-mMB {
        width: 66.1rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .star-5-W3s {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2rem;
          width: 7.4rem;
          height: 6.5rem;
        }
        .frame-7-eQy {
          width: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .img-20201103-wa0098-1-ChP {
            height: 64.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 72rem;
          }
        }
      }
    }
  }
  .auto-group-eun9-Wxy {
    width: 100%;
    height: 74.5rem;
    position: relative;
    flex-shrink: 0;

    .line-1-4Do {
      background-color: #000000;
      width: 186.4rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 2.2rem;
    }
    .line-2-PWy {
      width: 186.4rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 73.8rem;
      background-color: #000000;
    }
    .rectangle-3-8UZ {
      background-color: #6f2cdb;
      width: 187.4rem;
      height: 74.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .about-me-rfT {
      position: absolute;
      left: 111.1rem;
      top: 21.8rem;
      width: 22.9rem;
      height: 5.9rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4.8rem;
      font-weight: 700;
    }
    .line-10-Wk1 {
      background-color: #ffffff;
      width: 14.1rem;
      height: 0.1rem;
      position: absolute;
      left: 134rem;
      top: 27.6rem;
    }
    .i-am-we-organized-student-committed-to-my-school-work-i-like-working-in-groups-and-helping-my-fellow-studentslearning-new-things-is-my-core-value-and-i-like-doing-my-works-on-time-designing-is-my-favorite-things-T9T {
      height: 9.7rem;
      top: 35.3rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 57.2rem;
      position: absolute;
      left: 109.9rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .rectangle-14-G6u {
      width: 33rem;
      height: 9.8rem;
      position: absolute;
      left: 111.1rem;
      top: 55.7rem;
      background-color: #ffffff;
      border-radius: 2.6rem;
    }
    .download-my-cv-nL9 {
      white-space: nowrap;
      left: 114.3rem;
      top: 58.7rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 26.8rem;
      height: 3.9rem;
      position: absolute;
      font-weight: 700;
      color: #000000;
    }
    .rectangle-19-te5 {
      background-color: #ffda58;
      width: 59.6rem;
      height: 51.8rem;
      position: absolute;
      left: 26.9rem;
      top: 13.7rem;
    }
    .tomas-n-uahengo-d5s {
      width: 57.1rem;
      height: 7.8rem;
      position: absolute;
      left: 28.6rem;
      font-size: 6.4rem;
      font-family: Inter, 'Source Sans Pro';
      top: 60.2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #6f2cdb;
      white-space: nowrap;
    }
    .item-01-sW1 {
      left: 26.9rem;
      font-size: 37rem;
      width: 60.6rem;
      position: absolute;
      top: 2.2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #6f2cdb;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 44.9rem;
    }
    .years-of-experience-n7B {
      width: 19.7rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      left: 44.1rem;
      top: 40.8rem;
      font-size: 2rem;
      font-weight: 800;
    }
  }
  .auto-group-f73p-VGV {
    width: 100%;
    height: 100.8rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-ftux-q5T {
      display: flex;
      align-items: center;
      width: 152rem;
      height: 39.8rem;
      position: absolute;
      left: 12rem;
      top: 60.3rem;

      .auto-group-xjhs-xQy {
        flex-shrink: 0;
        margin: 1.9rem 27.4rem 0.7rem 0rem;
        width: 21rem;
        height: calc(100% - 2.6rem);
        position: relative;

        .ellipse-2-GgZ {
          width: 17.5rem;
          height: 17.6rem;
          position: absolute;
          left: 3.5rem;
          top: 10.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item-3-CKK {
          font-weight: 200;
          font-style: italic;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 2.3rem;
          top: 0.8rem;
          font-size: 30rem;
          line-height: 1.2125;
          width: 18.7rem;
          height: 36.4rem;
          position: absolute;
        }
        .rectangle-16-ex1 {
          border-radius: 1.5rem;
          width: 19.6rem;
          height: 5.7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #e5e5e5;
        }
        .my-resume-ZZB {
          width: 13.5rem;
          height: 3rem;
          top: 0.8rem;
          line-height: 1.2125;
          color: #000000;
          position: absolute;
          left: 3.1rem;
          font-size: 2.4rem;
          font-weight: 600;
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .trainings-eqX {
          position: absolute;
          left: 7.1rem;
          top: 31.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          width: 9.2rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
        }
      }
      .auto-group-ncmf-9XP {
        position: relative;
        flex-shrink: 0;
        width: 103.6rem;
        height: 100%;

        .ellipse-3-gnD {
          vertical-align: top;
          width: 17.5rem;
          height: 17.6rem;
          position: absolute;
          left: 0.5rem;
          top: 12rem;
          object-fit: contain;
        }
        .item-2-pNd {
          height: 36.4rem;
          position: absolute;
          left: 0;
          top: 2.7rem;
          font-weight: 200;
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.5rem;
          font-size: 30rem;
          line-height: 1.2125;
          color: #ffffff;
        }
        .ellipse-4-vgZ {
          vertical-align: top;
          width: 17.5rem;
          height: 17.6rem;
          position: absolute;
          left: 50.4rem;
          top: 13.9rem;
          object-fit: contain;
        }
        .item-1-4nm {
          height: 36.4rem;
          position: absolute;
          font-size: 30rem;
          line-height: 1.2125;
          font-style: italic;
          color: #ffffff;
          width: 12.8rem;
          left: 51.3rem;
          top: 3.4rem;
          font-weight: 200;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ellipse-5-kfb {
          vertical-align: top;
          width: 17.5rem;
          height: 17.6rem;
          position: absolute;
          left: 86.1rem;
          top: 12rem;
          object-fit: contain;
        }
        .own-tasks-fXf {
          top: 33.5rem;
          font-size: 2rem;
          line-height: 1.2125;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          width: 10.8rem;
          height: 2.5rem;
          position: absolute;
          left: 56.7rem;
          font-weight: 700;
          color: #ffffff;
        }
        .item-4-Ngy {
          height: 36.4rem;
          position: absolute;
          top: 2.7rem;
          font-size: 30rem;
          font-style: italic;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.4rem;
          left: 83.2rem;
          font-weight: 200;
          line-height: 1.2125;
        }
        .royal-computers-windhoek-VFo {
          position: absolute;
          left: 9.3rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 44.1rem;
          top: 0.2rem;
          font-weight: 600;
          color: #ffffff;
          height: 3.9rem;
        }
        .computer-science-zCZ {
          width: 28.7rem;
          position: absolute;
          top: 0;
          font-size: 3.2rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.9rem;
          left: 56.7rem;
          line-height: 1.2125;
          font-style: italic;
          color: #ffffff;
        }
        .books-HSZ {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          left: 6rem;
          top: 33.5rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .projects-CZX {
          white-space: nowrap;
          width: 8.1rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          left: 89.4rem;
          top: 33.5rem;
          line-height: 1.2125;
          color: #ffffff;
        }
      }
    }
    .auto-group-df8m-6Q1 {
      width: 163.5rem;
      height: 9.7rem;
      position: absolute;
      left: 10.3rem;
      top: 11.5rem;
      display: flex;
      align-items: center;

      .auto-group-pyym-NcR {
        margin-right: 30.2rem;
        width: 29.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .my-expertareas-Wid {
          height: 9.7rem;
          left: 0;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          width: 19.9rem;
          position: absolute;
          top: 0;
          font-family: Inter, 'Source Sans Pro';
        }
        .line-11-pjK {
          width: 15.8rem;
          height: 0.1rem;
          position: absolute;
          left: 13.4rem;
          top: 8.7rem;
          background-color: #ffffff;
        }
      }
      .intro-x4q {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.7rem 0rem;
        font-size: 2.4rem;
        color: #ffffff;
      }
      .arrow-15-rvu {
        height: 4.0245rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 34.696rem 2.676rem 0rem;
        width: 3.5041rem;
      }
      .experience-zGR {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.7rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
      .arrow-13-K3o {
        flex-shrink: 0;
        margin: 0rem 10.196rem 3.276rem 0rem;
        width: 3.5041rem;
        height: 4.0245rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-yviv-pFT {
        background-color: #ffffff;
        height: 8.3rem;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
        border-radius: 2.6rem;
        flex-shrink: 0;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 700;
        white-space: nowrap;
        align-items: center;
        width: 29.4rem;
        font-size: 2.4rem;
        margin-top: 1rem;
      }
    }
    .auto-group-erff-ekH {
      align-items: flex-start;
      width: 122.7rem;
      height: 10rem;
      position: absolute;
      left: 13.8rem;
      top: 27.5rem;
      display: flex;

      .you-can-express-yourself-however-you-want-and-whenever-you-want-for-free-NwB {
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.2rem 15.7rem 0rem 0rem;
        max-width: 40.2rem;
        font-size: 2.4rem;
      }
      .auto-group-ly7b-TSq {
        flex-shrink: 0;
        margin-right: 25.2rem;
        display: flex;
        flex-direction: column;

        .item-2019-2020-1UM {
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1.7rem;
          font-weight: 600;
          font-style: italic;
          color: #6f2cdb;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1.2125;
        }
        .unam-namibia-XSh {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-xguh-fYu {
        flex-shrink: 0;
        margin-top: 0.6rem;
        box-sizing: border-box;
        padding-bottom: 1.9rem;
        display: flex;
        flex-direction: column;
        border-bottom: solid 0.1rem #ffffff;

        .present-Coj {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #6f2cdb;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
        }
        .unam-namibia-WpR {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
        }
      }
    }
    .auto-group-cw3f-nX3 {
      width: 60.3rem;
      height: 3rem;
      position: absolute;
      left: 69.7rem;
      top: 48.3rem;
      display: flex;
      align-items: center;

      .present-KG5 {
        color: #6f2cdb;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 29rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .item-2019-2020-TNH {
        font-style: italic;
        color: #6f2cdb;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
      }
    }
    .line-12-Pmj {
      left: 69.7rem;
      top: 37.5rem;
      background-color: #ffffff;
      width: 6.6rem;
      height: 0.1rem;
      position: absolute;
    }
    .auto-group-pljm-w2Z {
      top: 39.4rem;
      display: flex;
      align-items: center;
      width: 96.5rem;
      height: 3.9rem;
      position: absolute;
      left: 69.7rem;

      .art-director-course-TWh {
        flex-shrink: 0;
        margin-right: 16.3rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .web-design-courses-and-cisco-zFj {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-t87j-v9P {
      position: absolute;
      left: 69.7rem;
      top: 52.8rem;
      display: flex;
      align-items: center;
      width: 84.2rem;
      height: 3.6rem;

      .royal-computers-royal-1wX {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 18.8rem 0.6rem 0rem;
      }
      .university-of-namibia-namibia-Jfj {
        font-weight: 600;
        line-height: 1.2125;
        font-style: italic;
        color: #ffffff;
        flex-shrink: 0;
        margin-top: 0.6rem;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-qysm-25w {
      border-top: solid 0.1rem #ffffff;
      box-sizing: border-box;
      width: 60.3rem;
      height: 0.1rem;
      position: absolute;
      left: 69.7rem;
      top: 58.6rem;
    }
  }
  .auto-group-frir-88y {
    width: 187.5rem;
    height: 196.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-CuX {
      height: 108.3rem;
      position: absolute;
      left: 0;
      top: 88.4rem;
      background-color: rgba(255, 218, 88, 0.9700000286);
      width: 187.5rem;
    }
    .branding-for-945 {
      line-height: 1.2125;
      width: 14.5rem;
      height: 3rem;
      position: absolute;
      left: 29.2rem;
      top: 159rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .search-engine-marketing-for-eWd {
      left: 130.6rem;
      line-height: 1.2125;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 33.8rem;
      top: 159rem;
    }
    .food-delivery-company-wEq {
      font-size: 3.6rem;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.4rem;
      left: 26.6rem;
      top: 165.8rem;
      font-weight: 700;
      width: 41.8rem;
      position: absolute;
    }
    .social-media-marketing-for-QPK {
      height: 3rem;
      position: absolute;
      top: 159rem;
      width: 31.3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 81.5rem;
    }
    .arrow-3-7Hj {
      width: 2.8rem;
      height: 2.6rem;
      position: absolute;
      left: 183.2rem;
      top: 105.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .social-media-marketing-eHf {
      position: absolute;
      left: 155rem;
      top: 105.7rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 27.5rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
    }
    .branding-kLh {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 10.7rem;
      left: 135.5rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      top: 106.3rem;
    }
    .look-at-my-recent-projects-SUR {
      position: absolute;
      top: 101rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      height: 11.7rem;
      left: 39.5rem;
      font-size: 4.8rem;
      font-family: Inter, 'Source Sans Pro';
      width: 35.8rem;
    }
    .rectangle-8-veV {
      object-fit: contain;
      vertical-align: top;
      border-radius: 10rem;
      width: 17.6rem;
      height: 8rem;
      position: absolute;
      left: 106.6rem;
      top: 103.1rem;
    }
    .all-RLM {
      position: absolute;
      top: 105.7rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      width: 3.2rem;
      height: 3rem;
      left: 110.8rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-3-hof {
      left: 78.4rem;
      top: 111.4rem;
      background-color: #2e2e3d;
      width: 12.8rem;
      height: 0.1rem;
      position: absolute;
    }
    .arrow-2-36q {
      height: 2.6rem;
      position: absolute;
      left: 148rem;
      top: 105.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
    }
    .arrow-4-BD3 {
      position: absolute;
      left: 118.3rem;
      top: 105.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
      height: 2.6rem;
    }
    .rectangle-9-6qo {
      position: absolute;
      left: 70.1rem;
      top: 172.2rem;
      background-color: #ffffff;
      border-radius: 4.5rem;
      width: 47.2rem;
      height: 12.6rem;
    }
    .arrow-5-pmo {
      object-fit: contain;
      vertical-align: top;
      width: 4.4rem;
      height: 5rem;
      position: absolute;
      left: 102.2rem;
      top: 175.6rem;
    }
    .explore-more-ZDb {
      width: 15.5rem;
      top: 176.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 83.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #000000;
    }
    .car-export-company-sEH {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 4.4rem;
      top: 165.8rem;
      left: 81.2rem;
      white-space: nowrap;
      width: 36.6rem;
      position: absolute;
    }
    .ecommerce-website-9xV {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 35.8rem;
      height: 4.4rem;
      position: absolute;
      left: 130.6rem;
      top: 165.8rem;
      color: #000000;
    }
    .frame-3-qaR {
      height: 26rem;
      position: absolute;
      left: 21.9rem;
      top: 121.7rem;
      overflow: hidden;
      width: 43.5rem;

      .image-6-BPP {
        object-fit: cover;
        vertical-align: top;
        width: 43.5rem;
        height: 26rem;
      }
    }
    .frame-4-ieD {
      top: 119.4rem;
      overflow: hidden;
      width: 37.9rem;
      height: 25.3rem;
      position: absolute;
      left: 83.5rem;

      .image-7-Fu3 {
        width: 37.9rem;
        height: 25.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .frame-5-CpH {
      height: 25.6rem;
      position: absolute;
      left: 138.2rem;
      top: 117.3rem;
      overflow: hidden;
      width: 38rem;

      .image-8-9Ud {
        width: 38rem;
        height: 25.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .rectangle-10-J6d {
      width: 187.5rem;
      height: 88.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #343442;
    }
    .arrow-8-3K7 {
      width: 5rem;
      height: 4.2rem;
      position: absolute;
      left: 161.9rem;
      top: 44.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .arrow-9-NcH {
      left: 161.9rem;
      top: 44.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
      height: 4.2rem;
      position: absolute;
    }
    .arrow-10-745 {
      top: 69.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
      height: 4.2rem;
      position: absolute;
      left: 161.9rem;
    }
    .arrow-11-cWd {
      top: 29rem;
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
      height: 4.2rem;
      position: absolute;
      left: 161.9rem;
    }
    .line-6-Y9P {
      width: 148.1rem;
      height: 0.1rem;
      position: absolute;
      left: 21.9rem;
      top: 38rem;
      background-color: #ffffff;
    }
    .line-7-shT {
      top: 66.1rem;
      background-color: #ffffff;
      width: 148.1rem;
      height: 0.1rem;
      position: absolute;
      left: 21.9rem;
    }
    .line-8-1of {
      position: absolute;
      left: 21.9rem;
      top: 76.2rem;
      background-color: #ffffff;
      width: 148.1rem;
      height: 0.1rem;
    }
    .services-i-provide-Yob {
      font-family: Inter, 'Source Sans Pro';
      width: 21.7rem;
      height: 11.7rem;
      position: absolute;
      top: 2.4rem;
      font-weight: 700;
      color: #ffffff;
      left: 8.9rem;
      font-size: 4.8rem;
      line-height: 1.2125;
    }
    .line-4-rZP {
      width: 14.8rem;
      height: 0.1rem;
      position: absolute;
      left: 32.1rem;
      top: 12.8rem;
      background-color: rgba(255, 255, 255, 0.3000000119);
    }
    .rectangle-11-nxq {
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 25.6rem;
      height: 9.7rem;
      position: absolute;
      left: 144.4rem;
      top: 7.1rem;
    }
    .explore-W89 {
      width: 12.6rem;
      left: 148rem;
      color: #000000;
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
      position: absolute;
      top: 10rem;
      font-size: 3.2rem;
    }
    .arrow-6-cws {
      width: 4.3rem;
      height: 5.007rem;
      position: absolute;
      left: 161.1rem;
      top: 9.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ui-ux-design-KLV {
      position: absolute;
      font-size: 4.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 31.2rem;
      height: 5.9rem;
      left: 24.5rem;
      top: 28.1rem;
      font-weight: 700;
      color: #ffffff;
    }
    .line-5-R8d {
      top: 23.1rem;
      background-color: #ffffff;
      width: 146rem;
      height: 0.1rem;
      position: absolute;
      left: 21.9rem;
    }
    .rectangle-12-Yyw {
      width: 148.1rem;
      height: 14.2rem;
      position: absolute;
      left: 21.9rem;
      top: 51.9rem;
      background-color: #8351d5;
    }
    .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-Gf3 {
      font-size: 1.6rem;
      color: #ffffff;
      height: 3.9rem;
      left: 71.1rem;
      top: 57.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 55.2rem;
      position: absolute;
      font-weight: 700;
    }
    .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-8hF {
      left: 71.1rem;
      top: 45.4rem;
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 55.2rem;
      height: 3.9rem;
      position: absolute;
    }
    .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-baq {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
      font-weight: 700;
      left: 71.1rem;
      top: 27.6rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      width: 55.2rem;
      position: absolute;
    }
    .ui-animation-qVB {
      width: 30.1rem;
      height: 5.9rem;
      position: absolute;
      top: 56.2rem;
      font-weight: 700;
      line-height: 1.2125;
      left: 24.5rem;
      font-size: 4.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .arrow-7-jKf {
      width: 5rem;
      height: 4.2rem;
      position: absolute;
      left: 161.9rem;
      top: 54.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .user-research-U2M {
      height: 5.9rem;
      position: absolute;
      left: 24.5rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 34.2rem;
      white-space: nowrap;
      color: #ffffff;
      top: 44rem;
    }
    .product-design-BBf {
      position: absolute;
      left: 24.5rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 36.2rem;
      height: 5.9rem;
      top: 68.2rem;
      font-size: 4.8rem;
      color: #ffffff;
    }
    .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-GU1 {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 55.2rem;
      left: 71.1rem;
      top: 70.2rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #ffffff;
      height: 3.9rem;
      position: absolute;
    }
  }
  .auto-group-ptev-w4M {
    width: 100%;
    height: 280.1rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-hyfp-4uf {
      left: 23.7rem;
      top: 14.2rem;
      display: flex;
      align-items: flex-start;
      width: 145.2rem;
      height: 13.9rem;
      position: absolute;

      .valuable-feedbackfrom-my-clients-Aho {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 70.9rem;
        max-width: 36.3rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
      .auto-group-m2tz-GVw {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin-top: 3rem;
        box-sizing: border-box;
        padding: 1.8rem 14rem 3rem 4.3rem;
        display: flex;

        .view-all-yQM {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.7rem 3rem 0rem 0rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .arrow-16-Hvq {
          margin-bottom: 0.9rem;
          width: 2.6rem;
          height: 5.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-pma9-cTK {
      height: 59rem;
      position: absolute;
      left: 5.5rem;
      top: 38.1rem;
      display: flex;
      align-items: center;
      width: 179.1rem;

      .auto-group-zoxw-wkV {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.7rem 0.6rem 0rem 0rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .frame-8-H3f {
          flex-shrink: 0;
          margin-right: 7.6rem;
          height: 100%;
          overflow: hidden;
          position: relative;

          .img20181211225911078-1-dtD {
            object-fit: cover;
            vertical-align: top;
            border-radius: 42rem;
            width: 50.1rem;
            height: 53.3rem;
          }
        }
        .awesome-app-easy-and-fast-to-use-very-good-options-and-good-features-to-use-good-modificationvery-good-designs-and-well-programmed-enough-demonstration-would-like-to-see-more-designs-push-up-Lnd {
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 6.2rem;
          max-width: 66.8rem;
        }
      }
      .frame-9-LAM {
        width: 54rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .status9b201cac346a4d82966035edfd3e28ba-1-HrH {
          border-radius: 26.95rem;
          width: 53.9rem;
          height: 72rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-xuqs-PPX {
      position: absolute;
      left: 7.9rem;
      top: 108.7rem;
      display: flex;
      align-items: flex-end;
      width: 107rem;
      height: 8.6rem;

      .my-achievements-iAu {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 42.4rem 0.8rem 0rem;
        font-size: 6.4rem;
        font-weight: 600;
      }
      .item-2020-2Bb {
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #8351d5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .best-designer-Yvd {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 4.4rem;
      position: absolute;
      left: 105.6rem;
      top: 119.1rem;
      font-size: 3.6rem;
      font-weight: 600;
      white-space: nowrap;
      width: 24.5rem;
      line-height: 1.2125;
    }
    .auto-group-ay53-eim {
      width: 157.9rem;
      height: 66.1rem;
      position: absolute;
      left: 13.1rem;
      top: 124.8rem;
      display: flex;
      align-items: center;

      .frame-10-vwB {
        height: calc(100% - 8rem);
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 3.4rem 11.8rem 4.6rem 0rem;

        .image-9-FyT {
          height: 58.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 80.6rem;
        }
      }
      .auto-group-tmlv-Cth {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .you-can-customize-your-own-or-make-ypurself-kQR {
          flex-shrink: 0;
          margin: 0rem 0rem 7rem 0.1rem;
          max-width: 65.4rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-3ur7-FMB {
          margin: 0rem 0rem 1.2rem 0.1rem;
          width: 24.5rem;
          height: 7.9rem;
          position: relative;
          flex-shrink: 0;

          .best-designer-n6D {
            white-space: nowrap;
            width: 24.5rem;
            height: 4.4rem;
            left: 0;
            top: 3.5rem;
            font-size: 3.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            font-weight: 600;
            color: #ffffff;
          }
          .item-2021-hDB {
            width: 8.7rem;
            left: 0;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #8351d5;
            height: 4.4rem;
            position: absolute;
            top: 0;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .you-can-customize-your-own-or-make-ypurself-Cvd {
          max-width: 65.4rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4.6rem 0.1rem;
        }
        .item-2021-Fe1 {
          font-weight: 600;
          line-height: 1.2125;
          color: #8351d5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.2rem 0.1rem;
          font-size: 3.6rem;
        }
        .best-designer-xYR {
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-mr5t-tgy {
          width: 65.4rem;
          height: 12.6rem;
          position: relative;
          flex-shrink: 0;
          margin-left: 0.1rem;

          .item-2022-EF3 {
            height: 4.4rem;
            position: absolute;
            left: 0;
            font-size: 3.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 9.2rem;
            top: 0;
            font-weight: 600;
            color: #8351d5;
          }
          .you-can-customize-your-own-or-make-ypurself-9N1 {
            left: 0;
            top: 3.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            width: 65.4rem;
            height: 8.8rem;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
          }
        }
      }
    }
    .auto-group-eolu-SM7 {
      left: 9.4rem;
      top: 198.4rem;
      display: flex;
      align-items: center;
      width: 138.9rem;
      height: 15.6rem;
      position: absolute;

      .from-my-blog-post-Anu {
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 82.6rem;
        max-width: 29.1rem;
        font-size: 6.4rem;
      }
      .auto-group-7s5s-tiu {
        padding: 0.6rem 2.5rem 0.6rem 2.7rem;
        height: calc(100% - 5.3rem);
        display: flex;
        align-items: center;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin: 3.7rem 0rem 1.6rem 0rem;
        box-sizing: border-box;
        background-color: #ffffff;

        .view-all-kFK {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.6rem 5.4rem 0rem 0rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .arrow-17-USD {
          margin-bottom: 3.8rem;
          width: 0.9rem;
          height: 5.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-11-ytm {
      left: 11.2rem;
      height: 46.1rem;
      position: absolute;
      top: 217.6rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 135.9rem;

      .auto-group-y27j-hZs {
        margin-bottom: 3.8rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-10-3dj {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 10.1rem;
          width: 67.5rem;
          height: 18.7rem;
          object-fit: cover;
        }
        .image-12-nbK {
          width: 58.3rem;
          height: 18.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-fyhs-8QH {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-11-Uj3 {
          width: 67.5rem;
          height: 23.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 10.1rem;
        }
        .image-13-pY1 {
          vertical-align: top;
          flex-shrink: 0;
          width: 58.3rem;
          height: 23.6rem;
          object-fit: cover;
        }
      }
    }
  }
  .auto-group-zlvf-LFT {
    flex-direction: column;
    background-color: #161625;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.931rem 4.7rem 7.1rem 12.6rem;
    width: 100%;
    display: flex;

    .vector-1-2e5 {
      flex-shrink: 0;
      margin-bottom: 0.75rem;
      width: 13.9rem;
      height: 11.2194rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-stcv-Ztu {
      margin: 0rem 0rem 5.2rem 1.3rem;
      height: 21.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-a729-gid {
        margin: 4.3rem 10rem 10.6rem 0rem;
        height: calc(100% - 14.9rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .star-1-ccH {
          margin-bottom: 2rem;
          width: 3.4rem;
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-2-xg9 {
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 2.2rem;
          width: 3.6rem;
          height: 2.3rem;
          object-fit: contain;
        }
      }
      .auto-group-ve25-h7w {
        background-position: center;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:620:30');
        flex-shrink: 0;
        padding: 1.9rem 1.5rem 2.1rem 5.9rem;
        width: 20.8rem;
        display: flex;
        background-size: cover;

        .welcome-owf {
          margin: 0rem 4.5rem 3.5rem 0rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-xxot-8j3 {
          margin: 0rem 0rem 3.3rem 1.7rem;
          width: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-5-EXB {
            height: 5.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.1rem;
            width: 5.6rem;
          }
          .to-xCH {
            margin-top: 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .thomas-ge5 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.4rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-caux-oTo {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 3.5rem;

        .auto-group-quwu-YgH {
          margin: 0rem 11rem 6.2rem 0rem;
          width: 74.5rem;
          height: 15.2rem;
          position: relative;
          flex-shrink: 0;

          .you-can-express-yourself-however-you-want-and-whenever-you-want-for-free-you-can-customize-a-template-or-make-your-own-UZw {
            width: 62.2rem;
            height: 4.9rem;
            left: 12.3rem;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            top: 10.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
          }
          .lets-work-together-wCd {
            left: 0;
            top: 0;
            font-size: 6.4rem;
            font-weight: 400;
            color: #ffffff;
            width: 52.5rem;
            height: 10.9rem;
            position: absolute;
            white-space: nowrap;
            line-height: 1.69;
            font-family: Jaldi, 'Source Sans Pro';
          }
        }
        .auto-group-sdpo-S9P {
          margin: 5.4rem 0rem 5.1rem 0rem;
          width: 32.9rem;
          height: calc(100% - 10.5rem);
          position: relative;
          flex-shrink: 0;

          .rectangle-7-8H7 {
            width: 32.9rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 0.1rem;
            background-color: #8351d5;
            border-radius: 2.5rem;
          }
          .say-hello-SHo {
            font-family: Jaldi, 'Source Sans Pro';
            width: 23.4rem;
            height: 10.9rem;
            font-size: 6.4rem;
            font-weight: 400;
            color: #ffffff;
            position: absolute;
            left: 4.8rem;
            top: 0;
            line-height: 1.69;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-k9ff-LPB {
      align-items: center;
      flex-shrink: 0;
      margin-left: 7.1rem;
      height: 12.2rem;
      display: flex;

      .auto-group-u1hs-qKw {
        box-sizing: border-box;
        padding: 0.9rem 1.3rem 0.9rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ksht-mDb {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 45.2rem 3.2rem 0rem;
          display: flex;

          .call-email-JDX {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .uahengotomasgmailcom-dWh {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            font-size: 2.4rem;
            line-height: 1.2102272511;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-weight: 700;

            .uahengotomasgmailcom-dWh-sub-0 {
              font-weight: 700;
              line-height: 1.2125;
              text-decoration-line: underline;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
            }
            .uahengotomasgmailcom-dWh-sub-1 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .uahengotomasgmailcom-dWh-sub-2 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              text-decoration-line: underline;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .follow-me-on--91B {
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          font-size: 2rem;
        }
      }
      .frame-2-rgH {
        position: relative;
        display: flex;
        column-gap: 0.8rem;
        align-items: center;
        flex-shrink: 0;
        margin-right: 1.2rem;
        height: 100%;
        overflow: hidden;

        .image-1-asB {
          border-radius: 100rem;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 10.5rem;
          height: 11.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .image-2-JoB {
          border-radius: 18.75rem;
          flex-shrink: 0;
          margin-top: 0.9rem;
          width: 11.3rem;
          height: 11.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .image-3-d4m {
          margin-bottom: 0.6rem;
          width: 12.8rem;
          height: 9.6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 29.05rem;
          flex-shrink: 0;
        }
      }
      .image-4-7Eq {
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        width: 10.9rem;
        height: 10.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 8.5rem;
      }
    }
  }
  .auto-group-zzmk-puw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 25.9rem 2.8rem 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffda58;

    .orido-kHo {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 91.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .oridho-all-right-reserve-UzV {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
    }
  }
}
