
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 187.4rem;
}.portfolio--qxm {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #2e2e3d;
}
.portfolio--qxm .auto-group-vplm-9yT {
  box-sizing: border-box;
  padding: 2.5rem 12rem 0rem 6.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 {
  margin: 0rem 3.7rem 2.2rem 0rem;
  width: calc(100% - 3.7rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-nkyo-mjw {
  box-sizing: border-box;
  padding: 0.1rem 51.9rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-nkyo-mjw .orido-Tsf {
  margin: 0rem 30.5rem 3.3rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-nkyo-mjw .home-case-studies-blog-contact-9kV {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-nkyo-mjw .home-case-studies-blog-contact-9kV .home-case-studies-blog-contact-9kV-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-nkyo-mjw .home-case-studies-blog-contact-9kV .home-case-studies-blog-contact-9kV-sub-1 {
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-jydx-fB7 .auto-group-tqm3-URP {
  width: 21rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-wtdk-9XX {
  margin-left: 150.6rem;
  width: calc(100% - 150.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-wtdk-9XX .star-4-VLV {
  margin: 0rem 3.1rem 4.5rem 0rem;
  width: 7.4rem;
  height: 6.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-wtdk-9XX .star-3-BDK {
  margin-top: 4.5rem;
  width: 7.4rem;
  height: 6.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR {
  margin: 0rem 8.5rem 0rem 5.5rem;
  width: calc(100% - 14rem);
  height: 71rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 {
  box-sizing: border-box;
  padding: 0.3rem 10.9rem 0.3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV {
  margin-bottom: 4.3rem;
  width: 74.1rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .tomas-n-uahengo-gJV {
  margin-bottom: 2.5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-edbf-T6H {
  margin: 0rem 37.4rem 4.9rem 1.2rem;
  width: calc(100% - 38.6rem);
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-edbf-T6H .line-9-mcm {
  margin: 0.5rem 7.7rem 0rem 0rem;
  width: 17.1rem;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-edbf-T6H .designer-Hr1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .i-am-an-upcoming-software-develop-based-in-namibia-i-am-a-hard-work-and-passionate-always-dedicated-to-my-work-and-eager-to-learn-cdP {
  margin: 0rem 0rem 10.1rem 1.4rem;
  max-width: 72.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-dmhs-T8D {
  margin: 0rem 1.8rem 5.6rem 18.3rem;
  width: calc(100% - 20.1rem);
  height: 11.2rem;
  display: flex;
  align-items: flex-end;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-dmhs-T8D .auto-group-rwvm-MUV {
  margin-right: 10.3rem;
  width: 32.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-dmhs-T8D .auto-group-rwvm-MUV .rectangle-13-hYM {
  width: 32.9rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: #8351d5;
  border-radius: 2.5rem;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-dmhs-T8D .auto-group-rwvm-MUV .say-hello-b7w {
  width: 23.4rem;
  height: 10.9rem;
  position: absolute;
  left: 2.7rem;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.69;
  color: #ffffff;
  font-family: Jaldi, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-dmhs-T8D .my-work-GE5 {
  margin-bottom: 0.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.69;
  color: #ffffff;
  font-family: Jaldi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs {
  margin: 0rem 7.3rem 0rem 14.1rem;
  width: calc(100% - 21.4rem);
  height: 12.2rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs .follow-me-on--JgZ {
  margin: 0.9rem 3.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs .frame-6-1L5 {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs .frame-6-1L5 .image-1-KrZ {
  margin-bottom: 0.7rem;
  width: 10.5rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs .frame-6-1L5 .image-2-SwB {
  margin-top: 0.9rem;
  width: 11.3rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 18.75rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .auto-group-jyad-xNV .auto-group-atah-zfs .frame-6-1L5 .image-3-kgy {
  margin-bottom: 0.6rem;
  width: 12.8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 29.05rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-6a7j-1y3 .arrow-12-2eV {
  margin-top: 17.1rem;
  width: 3.4rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-x2xk-mMB {
  width: 66.1rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-x2xk-mMB .star-5-W3s {
  margin-right: 2rem;
  width: 7.4rem;
  height: 6.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-x2xk-mMB .frame-7-eQy {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-vplm-9yT .auto-group-8m6r-ttR .auto-group-x2xk-mMB .frame-7-eQy .img-20201103-wa0098-1-ChP {
  width: 72rem;
  height: 64.5rem;
  object-fit: cover;
  vertical-align: top;
}
.portfolio--qxm .auto-group-eun9-Wxy {
  width: 100%;
  height: 74.5rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-eun9-Wxy .line-1-4Do {
  width: 186.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 2.2rem;
  background-color: #000000;
}
.portfolio--qxm .auto-group-eun9-Wxy .line-2-PWy {
  width: 186.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 73.8rem;
  background-color: #000000;
}
.portfolio--qxm .auto-group-eun9-Wxy .rectangle-3-8UZ {
  width: 187.4rem;
  height: 74.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6f2cdb;
}
.portfolio--qxm .auto-group-eun9-Wxy .about-me-rfT {
  width: 22.9rem;
  height: 5.9rem;
  position: absolute;
  left: 111.1rem;
  top: 21.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-eun9-Wxy .line-10-Wk1 {
  width: 14.1rem;
  height: 0.1rem;
  position: absolute;
  left: 134rem;
  top: 27.6rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-eun9-Wxy .i-am-we-organized-student-committed-to-my-school-work-i-like-working-in-groups-and-helping-my-fellow-studentslearning-new-things-is-my-core-value-and-i-like-doing-my-works-on-time-designing-is-my-favorite-things-T9T {
  width: 57.2rem;
  height: 9.7rem;
  position: absolute;
  left: 109.9rem;
  top: 35.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-eun9-Wxy .rectangle-14-G6u {
  width: 33rem;
  height: 9.8rem;
  position: absolute;
  left: 111.1rem;
  top: 55.7rem;
  background-color: #ffffff;
  border-radius: 2.6rem;
}
.portfolio--qxm .auto-group-eun9-Wxy .download-my-cv-nL9 {
  width: 26.8rem;
  height: 3.9rem;
  position: absolute;
  left: 114.3rem;
  top: 58.7rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-eun9-Wxy .rectangle-19-te5 {
  width: 59.6rem;
  height: 51.8rem;
  position: absolute;
  left: 26.9rem;
  top: 13.7rem;
  background-color: #ffda58;
}
.portfolio--qxm .auto-group-eun9-Wxy .tomas-n-uahengo-d5s {
  width: 57.1rem;
  height: 7.8rem;
  position: absolute;
  left: 28.6rem;
  top: 60.2rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-eun9-Wxy .item-01-sW1 {
  width: 60.6rem;
  height: 44.9rem;
  position: absolute;
  left: 26.9rem;
  top: 2.2rem;
  font-size: 37rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-eun9-Wxy .years-of-experience-n7B {
  width: 19.7rem;
  height: 2.5rem;
  position: absolute;
  left: 44.1rem;
  top: 40.8rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV {
  width: 100%;
  height: 100.8rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T {
  width: 152rem;
  height: 39.8rem;
  position: absolute;
  left: 12rem;
  top: 60.3rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy {
  margin: 1.9rem 27.4rem 0.7rem 0rem;
  width: 21rem;
  height: calc(100% - 2.6rem);
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy .ellipse-2-GgZ {
  width: 17.5rem;
  height: 17.6rem;
  position: absolute;
  left: 3.5rem;
  top: 10.1rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy .item-3-CKK {
  width: 18.7rem;
  height: 36.4rem;
  position: absolute;
  left: 2.3rem;
  top: 0.8rem;
  font-size: 30rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy .rectangle-16-ex1 {
  width: 19.6rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e5e5e5;
  border-radius: 1.5rem;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy .my-resume-ZZB {
  width: 13.5rem;
  height: 3rem;
  position: absolute;
  left: 3.1rem;
  top: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-xjhs-xQy .trainings-eqX {
  width: 9.2rem;
  height: 2.5rem;
  position: absolute;
  left: 7.1rem;
  top: 31.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP {
  width: 103.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .ellipse-3-gnD {
  width: 17.5rem;
  height: 17.6rem;
  position: absolute;
  left: 0.5rem;
  top: 12rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .item-2-pNd {
  width: 18.5rem;
  height: 36.4rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  font-size: 30rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .ellipse-4-vgZ {
  width: 17.5rem;
  height: 17.6rem;
  position: absolute;
  left: 50.4rem;
  top: 13.9rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .item-1-4nm {
  width: 12.8rem;
  height: 36.4rem;
  position: absolute;
  left: 51.3rem;
  top: 3.4rem;
  font-size: 30rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .ellipse-5-kfb {
  width: 17.5rem;
  height: 17.6rem;
  position: absolute;
  left: 86.1rem;
  top: 12rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .own-tasks-fXf {
  width: 10.8rem;
  height: 2.5rem;
  position: absolute;
  left: 56.7rem;
  top: 33.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .item-4-Ngy {
  width: 18.4rem;
  height: 36.4rem;
  position: absolute;
  left: 83.2rem;
  top: 2.7rem;
  font-size: 30rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .royal-computers-windhoek-VFo {
  width: 44.1rem;
  height: 3.9rem;
  position: absolute;
  left: 9.3rem;
  top: 0.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .computer-science-zCZ {
  width: 28.7rem;
  height: 3.9rem;
  position: absolute;
  left: 56.7rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .books-HSZ {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 6rem;
  top: 33.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-ftux-q5T .auto-group-ncmf-9XP .projects-CZX {
  width: 8.1rem;
  height: 2.5rem;
  position: absolute;
  left: 89.4rem;
  top: 33.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 {
  width: 163.5rem;
  height: 9.7rem;
  position: absolute;
  left: 10.3rem;
  top: 11.5rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .auto-group-pyym-NcR {
  margin-right: 30.2rem;
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .auto-group-pyym-NcR .my-expertareas-Wid {
  width: 19.9rem;
  height: 9.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .auto-group-pyym-NcR .line-11-pjK {
  width: 15.8rem;
  height: 0.1rem;
  position: absolute;
  left: 13.4rem;
  top: 8.7rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .intro-x4q {
  margin: 0rem 2.3rem 0.7rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .arrow-15-rvu {
  margin: 0rem 34.696rem 2.676rem 0rem;
  width: 3.5041rem;
  height: 4.0245rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .experience-zGR {
  margin: 0.1rem 1.7rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .arrow-13-K3o {
  margin: 0rem 10.196rem 3.276rem 0rem;
  width: 3.5041rem;
  height: 4.0245rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-df8m-6Q1 .auto-group-yviv-pFT {
  margin-top: 1rem;
  width: 29.4rem;
  height: 8.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH {
  width: 122.7rem;
  height: 10rem;
  position: absolute;
  left: 13.8rem;
  top: 27.5rem;
  display: flex;
  align-items: flex-start;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .you-can-express-yourself-however-you-want-and-whenever-you-want-for-free-NwB {
  margin: 1.2rem 15.7rem 0rem 0rem;
  max-width: 40.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-ly7b-TSq {
  margin-right: 25.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-ly7b-TSq .item-2019-2020-1UM {
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-ly7b-TSq .unam-namibia-XSh {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-xguh-fYu {
  margin-top: 0.6rem;
  box-sizing: border-box;
  padding-bottom: 1.9rem;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-xguh-fYu .present-Coj {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-erff-ekH .auto-group-xguh-fYu .unam-namibia-WpR {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-cw3f-nX3 {
  width: 60.3rem;
  height: 3rem;
  position: absolute;
  left: 69.7rem;
  top: 48.3rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-cw3f-nX3 .present-KG5 {
  margin-right: 29rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-cw3f-nX3 .item-2019-2020-TNH {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #6f2cdb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .line-12-Pmj {
  width: 6.6rem;
  height: 0.1rem;
  position: absolute;
  left: 69.7rem;
  top: 37.5rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-pljm-w2Z {
  width: 96.5rem;
  height: 3.9rem;
  position: absolute;
  left: 69.7rem;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-pljm-w2Z .art-director-course-TWh {
  margin-right: 16.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-pljm-w2Z .web-design-courses-and-cisco-zFj {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-t87j-v9P {
  width: 84.2rem;
  height: 3.6rem;
  position: absolute;
  left: 69.7rem;
  top: 52.8rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-t87j-v9P .royal-computers-royal-1wX {
  margin: 0rem 18.8rem 0.6rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-t87j-v9P .university-of-namibia-namibia-Jfj {
  margin-top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-f73p-VGV .auto-group-qysm-25w {
  width: 60.3rem;
  height: 0.1rem;
  position: absolute;
  left: 69.7rem;
  top: 58.6rem;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.portfolio--qxm .auto-group-frir-88y {
  width: 187.5rem;
  height: 196.7rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-frir-88y .rectangle-4-CuX {
  width: 187.5rem;
  height: 108.3rem;
  position: absolute;
  left: 0;
  top: 88.4rem;
  background-color: rgba(255, 218, 88, 0.9700000286);
}
.portfolio--qxm .auto-group-frir-88y .branding-for-945 {
  width: 14.5rem;
  height: 3rem;
  position: absolute;
  left: 29.2rem;
  top: 159rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .search-engine-marketing-for-eWd {
  width: 33.8rem;
  height: 3rem;
  position: absolute;
  left: 130.6rem;
  top: 159rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .food-delivery-company-wEq {
  width: 41.8rem;
  height: 4.4rem;
  position: absolute;
  left: 26.6rem;
  top: 165.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .social-media-marketing-for-QPK {
  width: 31.3rem;
  height: 3rem;
  position: absolute;
  left: 81.5rem;
  top: 159rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .arrow-3-7Hj {
  width: 2.8rem;
  height: 2.6rem;
  position: absolute;
  left: 183.2rem;
  top: 105.7rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .social-media-marketing-eHf {
  width: 27.5rem;
  height: 3rem;
  position: absolute;
  left: 155rem;
  top: 105.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .branding-kLh {
  width: 10.7rem;
  height: 3rem;
  position: absolute;
  left: 135.5rem;
  top: 106.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .look-at-my-recent-projects-SUR {
  width: 35.8rem;
  height: 11.7rem;
  position: absolute;
  left: 39.5rem;
  top: 101rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-frir-88y .rectangle-8-veV {
  width: 17.6rem;
  height: 8rem;
  position: absolute;
  left: 106.6rem;
  top: 103.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.portfolio--qxm .auto-group-frir-88y .all-RLM {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  left: 110.8rem;
  top: 105.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .line-3-hof {
  width: 12.8rem;
  height: 0.1rem;
  position: absolute;
  left: 78.4rem;
  top: 111.4rem;
  background-color: #2e2e3d;
}
.portfolio--qxm .auto-group-frir-88y .arrow-2-36q {
  width: 2.8rem;
  height: 2.6rem;
  position: absolute;
  left: 148rem;
  top: 105.7rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .arrow-4-BD3 {
  width: 2.8rem;
  height: 2.6rem;
  position: absolute;
  left: 118.3rem;
  top: 105.7rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .rectangle-9-6qo {
  width: 47.2rem;
  height: 12.6rem;
  position: absolute;
  left: 70.1rem;
  top: 172.2rem;
  background-color: #ffffff;
  border-radius: 4.5rem;
}
.portfolio--qxm .auto-group-frir-88y .arrow-5-pmo {
  width: 4.4rem;
  height: 5rem;
  position: absolute;
  left: 102.2rem;
  top: 175.6rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .explore-more-ZDb {
  width: 15.5rem;
  height: 3rem;
  position: absolute;
  left: 83.4rem;
  top: 176.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .car-export-company-sEH {
  width: 36.6rem;
  height: 4.4rem;
  position: absolute;
  left: 81.2rem;
  top: 165.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .ecommerce-website-9xV {
  width: 35.8rem;
  height: 4.4rem;
  position: absolute;
  left: 130.6rem;
  top: 165.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .frame-3-qaR {
  width: 43.5rem;
  height: 26rem;
  position: absolute;
  left: 21.9rem;
  top: 121.7rem;
  overflow: hidden;
}
.portfolio--qxm .auto-group-frir-88y .frame-3-qaR .image-6-BPP {
  width: 43.5rem;
  height: 26rem;
  object-fit: cover;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .frame-4-ieD {
  width: 37.9rem;
  height: 25.3rem;
  position: absolute;
  left: 83.5rem;
  top: 119.4rem;
  overflow: hidden;
}
.portfolio--qxm .auto-group-frir-88y .frame-4-ieD .image-7-Fu3 {
  width: 37.9rem;
  height: 25.3rem;
  object-fit: cover;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .frame-5-CpH {
  width: 38rem;
  height: 25.6rem;
  position: absolute;
  left: 138.2rem;
  top: 117.3rem;
  overflow: hidden;
}
.portfolio--qxm .auto-group-frir-88y .frame-5-CpH .image-8-9Ud {
  width: 38rem;
  height: 25.6rem;
  object-fit: cover;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .rectangle-10-J6d {
  width: 187.5rem;
  height: 88.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #343442;
}
.portfolio--qxm .auto-group-frir-88y .arrow-8-3K7 {
  width: 5rem;
  height: 4.2rem;
  position: absolute;
  left: 161.9rem;
  top: 44.3rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .arrow-9-NcH {
  width: 5rem;
  height: 4.2rem;
  position: absolute;
  left: 161.9rem;
  top: 44.3rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .arrow-10-745 {
  width: 5rem;
  height: 4.2rem;
  position: absolute;
  left: 161.9rem;
  top: 69.8rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .arrow-11-cWd {
  width: 5rem;
  height: 4.2rem;
  position: absolute;
  left: 161.9rem;
  top: 29rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .line-6-Y9P {
  width: 148.1rem;
  height: 0.1rem;
  position: absolute;
  left: 21.9rem;
  top: 38rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-frir-88y .line-7-shT {
  width: 148.1rem;
  height: 0.1rem;
  position: absolute;
  left: 21.9rem;
  top: 66.1rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-frir-88y .line-8-1of {
  width: 148.1rem;
  height: 0.1rem;
  position: absolute;
  left: 21.9rem;
  top: 76.2rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-frir-88y .services-i-provide-Yob {
  width: 21.7rem;
  height: 11.7rem;
  position: absolute;
  left: 8.9rem;
  top: 2.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-frir-88y .line-4-rZP {
  width: 14.8rem;
  height: 0.1rem;
  position: absolute;
  left: 32.1rem;
  top: 12.8rem;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.portfolio--qxm .auto-group-frir-88y .rectangle-11-nxq {
  width: 25.6rem;
  height: 9.7rem;
  position: absolute;
  left: 144.4rem;
  top: 7.1rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.portfolio--qxm .auto-group-frir-88y .explore-W89 {
  width: 12.6rem;
  height: 3.9rem;
  position: absolute;
  left: 148rem;
  top: 10rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .arrow-6-cws {
  width: 4.3rem;
  height: 5.007rem;
  position: absolute;
  left: 161.1rem;
  top: 9.4rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .ui-ux-design-KLV {
  width: 31.2rem;
  height: 5.9rem;
  position: absolute;
  left: 24.5rem;
  top: 28.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .line-5-R8d {
  width: 146rem;
  height: 0.1rem;
  position: absolute;
  left: 21.9rem;
  top: 23.1rem;
  background-color: #ffffff;
}
.portfolio--qxm .auto-group-frir-88y .rectangle-12-Yyw {
  width: 148.1rem;
  height: 14.2rem;
  position: absolute;
  left: 21.9rem;
  top: 51.9rem;
  background-color: #8351d5;
}
.portfolio--qxm .auto-group-frir-88y .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-Gf3 {
  width: 55.2rem;
  height: 3.9rem;
  position: absolute;
  left: 71.1rem;
  top: 57.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-frir-88y .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-8hF {
  width: 55.2rem;
  height: 3.9rem;
  position: absolute;
  left: 71.1rem;
  top: 45.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-frir-88y .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-baq {
  width: 55.2rem;
  height: 3.9rem;
  position: absolute;
  left: 71.1rem;
  top: 27.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-frir-88y .ui-animation-qVB {
  width: 30.1rem;
  height: 5.9rem;
  position: absolute;
  left: 24.5rem;
  top: 56.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .arrow-7-jKf {
  width: 5rem;
  height: 4.2rem;
  position: absolute;
  left: 161.9rem;
  top: 54.8rem;
  object-fit: contain;
  vertical-align: top;
}
.portfolio--qxm .auto-group-frir-88y .user-research-U2M {
  width: 34.2rem;
  height: 5.9rem;
  position: absolute;
  left: 24.5rem;
  top: 44rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .product-design-BBf {
  width: 36.2rem;
  height: 5.9rem;
  position: absolute;
  left: 24.5rem;
  top: 68.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-frir-88y .you-can-customize-a-template-or-make-your-own-from-scratch-with-an-immersive-library-at-your-disposal-GU1 {
  width: 55.2rem;
  height: 3.9rem;
  position: absolute;
  left: 71.1rem;
  top: 70.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-ptev-w4M {
  width: 100%;
  height: 280.1rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-hyfp-4uf {
  width: 145.2rem;
  height: 13.9rem;
  position: absolute;
  left: 23.7rem;
  top: 14.2rem;
  display: flex;
  align-items: flex-start;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-hyfp-4uf .valuable-feedbackfrom-my-clients-Aho {
  margin-right: 70.9rem;
  max-width: 36.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-hyfp-4uf .auto-group-m2tz-GVw {
  margin-top: 3rem;
  box-sizing: border-box;
  padding: 1.8rem 14rem 3rem 4.3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-hyfp-4uf .auto-group-m2tz-GVw .view-all-yQM {
  margin: 1.7rem 3rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-hyfp-4uf .auto-group-m2tz-GVw .arrow-16-Hvq {
  margin-bottom: 0.9rem;
  width: 2.6rem;
  height: 5.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK {
  width: 179.1rem;
  height: 59rem;
  position: absolute;
  left: 5.5rem;
  top: 38.1rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .auto-group-zoxw-wkV {
  box-sizing: border-box;
  padding: 5.7rem 0.6rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .auto-group-zoxw-wkV .frame-8-H3f {
  margin-right: 7.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .auto-group-zoxw-wkV .frame-8-H3f .img20181211225911078-1-dtD {
  width: 50.1rem;
  height: 53.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 42rem;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .auto-group-zoxw-wkV .awesome-app-easy-and-fast-to-use-very-good-options-and-good-features-to-use-good-modificationvery-good-designs-and-well-programmed-enough-demonstration-would-like-to-see-more-designs-push-up-Lnd {
  margin-bottom: 6.2rem;
  max-width: 66.8rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .frame-9-LAM {
  width: 54rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-pma9-cTK .frame-9-LAM .status9b201cac346a4d82966035edfd3e28ba-1-HrH {
  width: 53.9rem;
  height: 72rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 26.95rem;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-xuqs-PPX {
  width: 107rem;
  height: 8.6rem;
  position: absolute;
  left: 7.9rem;
  top: 108.7rem;
  display: flex;
  align-items: flex-end;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-xuqs-PPX .my-achievements-iAu {
  margin: 0rem 42.4rem 0.8rem 0rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-xuqs-PPX .item-2020-2Bb {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #8351d5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .best-designer-Yvd {
  width: 24.5rem;
  height: 4.4rem;
  position: absolute;
  left: 105.6rem;
  top: 119.1rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim {
  width: 157.9rem;
  height: 66.1rem;
  position: absolute;
  left: 13.1rem;
  top: 124.8rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .frame-10-vwB {
  margin: 3.4rem 11.8rem 4.6rem 0rem;
  height: calc(100% - 8rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .frame-10-vwB .image-9-FyT {
  width: 80.6rem;
  height: 58.1rem;
  object-fit: cover;
  vertical-align: top;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .you-can-customize-your-own-or-make-ypurself-kQR {
  margin: 0rem 0rem 7rem 0.1rem;
  max-width: 65.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-3ur7-FMB {
  margin: 0rem 0rem 1.2rem 0.1rem;
  width: 24.5rem;
  height: 7.9rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-3ur7-FMB .best-designer-n6D {
  width: 24.5rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-3ur7-FMB .item-2021-hDB {
  width: 8.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #8351d5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .you-can-customize-your-own-or-make-ypurself-Cvd {
  margin: 0rem 0rem 4.6rem 0.1rem;
  max-width: 65.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .item-2021-Fe1 {
  margin: 0rem 0rem 3.2rem 0.1rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #8351d5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .best-designer-xYR {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-mr5t-tgy {
  margin-left: 0.1rem;
  width: 65.4rem;
  height: 12.6rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-mr5t-tgy .item-2022-EF3 {
  width: 9.2rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #8351d5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-ay53-eim .auto-group-tmlv-Cth .auto-group-mr5t-tgy .you-can-customize-your-own-or-make-ypurself-9N1 {
  width: 65.4rem;
  height: 8.8rem;
  position: absolute;
  left: 0;
  top: 3.8rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-eolu-SM7 {
  width: 138.9rem;
  height: 15.6rem;
  position: absolute;
  left: 9.4rem;
  top: 198.4rem;
  display: flex;
  align-items: center;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-eolu-SM7 .from-my-blog-post-Anu {
  margin-right: 82.6rem;
  max-width: 29.1rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-eolu-SM7 .auto-group-7s5s-tiu {
  margin: 3.7rem 0rem 1.6rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 2.5rem 0.6rem 2.7rem;
  height: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-eolu-SM7 .auto-group-7s5s-tiu .view-all-kFK {
  margin: 0.6rem 5.4rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .auto-group-eolu-SM7 .auto-group-7s5s-tiu .arrow-17-USD {
  margin-bottom: 3.8rem;
  width: 0.9rem;
  height: 5.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm {
  width: 135.9rem;
  height: 46.1rem;
  position: absolute;
  left: 11.2rem;
  top: 217.6rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-y27j-hZs {
  margin-bottom: 3.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-y27j-hZs .image-10-3dj {
  margin-right: 10.1rem;
  width: 67.5rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-y27j-hZs .image-12-nbK {
  width: 58.3rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-fyhs-8QH {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-fyhs-8QH .image-11-Uj3 {
  margin-right: 10.1rem;
  width: 67.5rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-ptev-w4M .frame-11-ytm .auto-group-fyhs-8QH .image-13-pY1 {
  width: 58.3rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT {
  box-sizing: border-box;
  padding: 2.931rem 4.7rem 7.1rem 12.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #161625;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .vector-1-2e5 {
  margin-bottom: 0.75rem;
  width: 13.9rem;
  height: 11.2194rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu {
  margin: 0rem 0rem 5.2rem 1.3rem;
  height: 21.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-a729-gid {
  margin: 4.3rem 10rem 10.6rem 0rem;
  height: calc(100% - 14.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-a729-gid .star-1-ccH {
  margin-bottom: 2rem;
  width: 3.4rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-a729-gid .star-2-xg9 {
  margin-left: 2.2rem;
  width: 3.6rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w {
  box-sizing: border-box;
  padding: 1.9rem 1.5rem 2.1rem 5.9rem;
  width: 20.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1.png');
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w .welcome-owf {
  margin: 0rem 4.5rem 3.5rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w .auto-group-xxot-8j3 {
  margin: 0rem 0rem 3.3rem 1.7rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w .auto-group-xxot-8j3 .image-5-EXB {
  margin-right: 4.1rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w .auto-group-xxot-8j3 .to-xCH {
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-ve25-h7w .thomas-ge5 {
  margin-right: 5.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo {
  box-sizing: border-box;
  padding-left: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-quwu-YgH {
  margin: 0rem 11rem 6.2rem 0rem;
  width: 74.5rem;
  height: 15.2rem;
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-quwu-YgH .you-can-express-yourself-however-you-want-and-whenever-you-want-for-free-you-can-customize-a-template-or-make-your-own-UZw {
  width: 62.2rem;
  height: 4.9rem;
  position: absolute;
  left: 12.3rem;
  top: 10.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-quwu-YgH .lets-work-together-wCd {
  width: 52.5rem;
  height: 10.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.69;
  color: #ffffff;
  font-family: Jaldi, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-sdpo-S9P {
  margin: 5.4rem 0rem 5.1rem 0rem;
  width: 32.9rem;
  height: calc(100% - 10.5rem);
  position: relative;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-sdpo-S9P .rectangle-7-8H7 {
  width: 32.9rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #8351d5;
  border-radius: 2.5rem;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-stcv-Ztu .auto-group-caux-oTo .auto-group-sdpo-S9P .say-hello-SHo {
  width: 23.4rem;
  height: 10.9rem;
  position: absolute;
  left: 4.8rem;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.69;
  color: #ffffff;
  font-family: Jaldi, 'Source Sans Pro';
  white-space: nowrap;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB {
  margin-left: 7.1rem;
  height: 12.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb {
  margin: 0rem 45.2rem 3.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb .call-email-JDX {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb .uahengotomasgmailcom-dWh {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb .uahengotomasgmailcom-dWh .uahengotomasgmailcom-dWh-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb .uahengotomasgmailcom-dWh .uahengotomasgmailcom-dWh-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .auto-group-ksht-mDb .uahengotomasgmailcom-dWh .uahengotomasgmailcom-dWh-sub-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .auto-group-u1hs-qKw .follow-me-on--91B {
  margin-bottom: 3.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .frame-2-rgH {
  margin-right: 1.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .frame-2-rgH .image-1-asB {
  margin-bottom: 0.7rem;
  width: 10.5rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .frame-2-rgH .image-2-JoB {
  margin-top: 0.9rem;
  width: 11.3rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 18.75rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .frame-2-rgH .image-3-d4m {
  margin-bottom: 0.6rem;
  width: 12.8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 29.05rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zlvf-LFT .auto-group-k9ff-LPB .image-4-7Eq {
  margin-bottom: 0.8rem;
  width: 10.9rem;
  height: 10.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 8.5rem;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zzmk-puw {
  box-sizing: border-box;
  padding: 3rem 25.9rem 2.8rem 35rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffda58;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zzmk-puw .orido-kHo {
  margin-right: 91.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portfolio--qxm .auto-group-zzmk-puw .oridho-all-right-reserve-UzV {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
